@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 Grade Calculator";

}

@model gradeCalcModel;

<!--^^ Loads the model so that the variables from the form can be stored for validation Testing-->

<h2>Grade Calculator v3</h2>
<h4>Please input in integer form (Ex: 86% = 86)</h4>

<!--Using same format as displaying the final grade put the input validation error here-->
<p id="inputValidation" style="color : red"></p>
<!--POST form that stores the variables in the model using the asp-for stuff-->
<form method="post">
    <label>Assignments - 50%</label>
    <input id="assignments" asp-for="assignmentsGrade" /> <br />

    <label>Quizzes - 10%</label>
    <input id="quizzes" asp-for="quizzesGrade" /> <br />

    <label>Group Projects - 10%</label>
    <input id="groupProjects" asp-for="groupProjectsGrade"/> <br />

    <label>INTEX - 10%</label>
    <input id="intex" asp-for="intexGrade"/> <br />

    <label>Exams (Midterm and Final) - 20%</label>
    <input id="exams" asp-for="examsGrade"/> <br />

    <input id="calculateGrade" type="submit" value="Calculate Grade" />
</form>
<div asp-validation-summary="All"></div>
<!-- Shows the final grade in the html-->
<h2>FINAL GRADE:</h2>
<h4 id="finalGrade" asp-for="letterGrade"></h4>

<!--Loads the java script and jquery for the page-->
<script src="lib/jquery/jquery-3.6.3.min.js"></script>
<script src="js/m4JS.js"></script>
