@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Mission 5 Home";
}

<!-- Header with my preferred name -->
<header>Cole Hardy</header>
<br />

<!-- Picture of what I enjoy doing-->
<h3>Here is a picture of me doing something I enjoy, traveling</h3>
<img id="coleImage" src="img/StarbaseProfile.png" />

<br />

<!-- Paragraph of what I hope to get out of IS413-->

<p>
    I hope that by taking IS413 I can gain more knowledge and experiance about strictly typed programming along with being able to further my skills in web development.
    While learning more about the specific topics in IS413 is a really good thing it also important to get better at learning how to learn so that I can succeed in my future
    classes and jobs more.
</p>

<br />
<!-- Ordered list of top 3 jobs-->
<ol>
    <li>Software Development for a rocket/aerospace company</li>
    <li>Software Development for a car company</li>
    <li>Data Analytics for a racing team</li>
</ol>

<br />

